<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>My Profile</title>
</head>
<body>
    <div class="container">
        <h2>My Profile</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="profile-header">
                <div class="profile-pic">👤</div>
                <div>
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Enter your name" required>
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Enter your email address" required>
                    <label>Phone Number</label>
                    <input type="text" name="phone_number" placeholder="Enter your phone_number" required>
                    <label>Date of Birth</label>
                    <input type="date" name="date_of_birth" required>
                </div>
            </div>
            <h3>Driving License</h3>
            <div class="upload-section">
                <div class="upload-box">
                    <label>Front Side</label>
                    <input type="file" name="driving_license_front" accept="image/*" required>
                </div>
                <div class="upload-box">
                    <label>Back Side</label>
                    <input type="file" name="driving_license_back" accept="image/*" required>
                </div>
            </div>
            <button type="submit" class="save-btn">Save and continue</button>
        </form>
    </div>    
</body>
</html>
