
.navbar {
    position: relative;
    overflow: hidden;
}

.nav-link {
    position: relative;
    color: #333;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #007bff; 
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover {
    color: #007bff; 
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.logo-img {
    width: 300px; 
    height:100px; 
  }




body {
    background-color: #f8f9fa; /* Light background for contrast */
}

.custom-card {
    border: none; /* Remove default border */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.3s;
    width: 100%;
}